apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app-container
          # CHÚ Ý: Đây là image tag mà GitHub Actions sẽ cập nhật
          image: cookieboiz/hello-spring-k8s:20251103-231e5b0
          ports:
            - containerPort: 8080